
.header{
    display: flex;
    flex-direction: row;
    text-decoration: double;
}
img{
    width: 15%;
    height: 15%;
    margin-left: 50vw;
    margin-top: 5vh;
    border-radius: 50%;
    border: 2px;
    border-color: #DCA47C;
    border-width: 2px;
}
body{
    background-color: #FFD3B6;
    color: #FCF8F3;
}
h1,h2,h3,h4{
    color:#698474 ;
}